// placeholder
:root {
  --font-size-xl: 24px;
  --font-size-lg: 18px;
  --font-size-md: 15px;
  --font-size-sm: 13px;
  --font-size-xs: 12px;

  --line-height-lg: 30px;
  --line-height-md: 23px;
  --line-height-sm: 19px;
  --line-height-xs: 15px;
}
